@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Select a Type to add</h1>
<a asp-controller="AddModel" asp-action="Model">Model</a>
<a asp-controller="AddModel" asp-action="Spell">Spell</a>
<a asp-controller="AddModel" asp-action="Abiliity">Ability</a>
<a asp-controller="AddModel" asp-action="Weapon">Weapon</a>